.monitorContainer {
  display: grid;
  text-align: center;
}

.chartContainer {
  margin : 0 auto;
  // display: flex;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: 1fr 3fr;
  // grid-template-areas: 
  //   'buttons buttons buttons buttons'
  //   'grid grid grid grid';
}

.button {
  background-color: #48C9E4;
  color: white;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 40px;
  width: 40px;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.webVitalFlex {
  display: flex;
  justify-content: space-evenly;
}

.webVitalBtns {

}
//use grid to overlay spinner on top of graph figured out with foreign object
.lineGraph {
  grid-area: grid;
  // display: grid;
  // grid-template-columns: 1fr;
  // position: relative;
}

// .spinner {
//   grid-row-start: 1;
//   grid-column-start: 1;
//   align-items: center;
//   position: relative;
//   z-index: 2;
// }



/* CSS */
.button4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  margin: 30px 8px 10px 8px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

.button4:before {
  display: none;
}

.button4:-webkit-details-marker {
  display: none;
}