.container {
  position: relative;
  margin-top: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  // background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // align-items: center;
  // text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.name {
  text-align: center;
}

.monitor {
  text-align: center;
}

.links {
  margin: auto 0 16px;
}

.list {
  list-style: none;
  text-align: center;
  margin-bottom: auto;
  padding: 0;
}