.monitorContainer {
  display: grid;
  // align-items: center;
  text-align: center;
}

.chartContainer {
  margin : 0 auto;
}

.button {
  border-radius: 50%;
  max-height: 25px;
}

//use grid to overlay spinner on top of graph
.lineGraph {
  position: relative;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
}