.mainContainer {
  display: grid;
  grid-template-rows: .5fr .5fr 3fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "header header"
    "formContainer buttons"
    "formContainer chartContainer";
  // grid-gap: 10px;
  // align-items: center;
  // text-align: center;
}

.header {
  grid-area: header;
}

.formContainer {
  grid-area: formContainer;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: 
    "form"
    "vitalsButtons";
  // align-items: center;
  text-align: center;
  // border-right: solid;
}

.form {
  grid-area: form;
  margin: auto;
}

.vitalsButtons {
  grid-area: vitalsButtons;
  margin: auto;
}

.chartContainer {
  grid-area: chartContainer;
  // display: grid;
  // grid-template-columns: 1fr 3fr;
  // grid-template-rows: auto;
  // grid-template-areas: 
  //   "buttons chart";
  display: flex;
  justify-content: center;
  border: solid;
  text-align: center;
  height: 370px;
  width: 900px;
}

.buttonsContainer {
  grid-area: buttons;
  margin: auto;
  // display: flex;
  // border-right: solid;
}

.chart {
  grid-area: chart;
  margin: auto;
}

.webVitalBtns {
  display: flex;
}

.vitals {
  margin: 0px;
}

.button {
  border-radius: 50%;
  max-height: 25px;
  margin: 10px;
}

.button84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 12px;
  height: 30px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


  &:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
  }
  
  &:active {
    outline: 0;
  }
  
  &:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
  
  @media (max-width: 420px) {
    .button-84 {
      height: 30px;
    }
  }
}