.sidebar {
  display: flex;
  gap: 100px;
  
}

.mainContainer {
  // display: grid;
  // grid-template-rows: .5fr .5fr 3fr;
  // grid-template-columns: 1fr 3fr;
  // grid-template-areas: 
  //   "header header"
  //   "formContainer buttons"
  //   "formContainer chartContainer";
  // // grid-gap: 10px;
  // // align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
}

.form {
  font-size: 18px;
  font-weight: bold;
}

.urlInputBox {
  padding: 10px 30px;
  margin: 10px 0;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 2px 0px 0px 0px;
  min-width: 230px;
  max-width: 230px;
  padding: 30px 30px 0 0;
  margin: 0;
  gap: 20px;
  overflow: hidden;
}

.vitalsButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.endpoints {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #2096F3;
}

.chartContainer {
  grid-area: chartContainer;
  // display: grid;
  // grid-template-columns: 1fr 3fr;
  // grid-template-rows: auto;
  // grid-template-areas: 
  //   "buttons chart";
  display: flex;
  justify-content: center;
  
  text-align: center;
  height: 370px;
  width: 900px;
}

.buttonsContainer {
  grid-area: buttons;
  margin: auto;
  // display: flex;
  // border: solid;
}

.chart {
  grid-area: chart;
  margin: auto;
}

.webVitalBtns {
  display: flex;
  gap: 25px;
}

.vitals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}
.pMetrics {
  background-color: #48C9E4;
  color: black;
  border-radius: 10%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 50px;
  width: 130px;
  margin: 10px;
  font-size: 13px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.buttonPerformance {
  background-color: #2096F3;
  color: black;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.buttonSEO {
  background-color: #F44236;
  color: black;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.buttonBestPractices {
  background-color: #6C2FBB;
  color: black;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.buttonAccessibility {
  background-color: #FFCA29;
  color: black;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 80px;
  width: 80px;
  margin: 10px;
  font-size: 18px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.button84 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 15px;
  height: 35px;
  width: 165px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


  &:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
  }
  
  &:active {
    outline: 0;
  }
  
  &:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
  }
  
  @media (max-width: 420px) {
    .button-84 {
      height: 30px;
    }
  }
}