.nextContainer {
  display: flex;
  text-align: center;
  align-items: center;
}

// .header {
//   grid-area: header;
// }

.chartContainer {
  margin : 0 auto;

}

// .buttonContainer {
//   grid-area: buttons;
// }

.buttons {
  padding: 1vh;
}