.nextContainer {
  display: flex;
  text-align: center;
  align-items: center;
  margin : 5vh auto;
}

.buttonContainer {
  display: flex;
}

.button {
  background-color: #48C9E4;
  color: black;
  border-radius: 50%;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 13px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}