.container {
    overflow: auto;
    margin: 10px 80px 10px 0px;
    max-height: 430px;
    max-width: 900px;
}

.description {
    background-color: skyblue;
    font-size: 16px;
    padding: 30px 30px;
    margin: 8px 5px;
    border-radius: 10px;
}